###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

/config/ini/php.ini

# Папки с данными PostgreSQL и PGAdmin
/postgres/data
/pgadmin/data

# Папка PhpStorm
/.idea
