{% extends 'base.html.twig' %}

{% block title %}Удаление записи{% endblock %}

{% block header %}Удаление записи{% endblock %}

{% block content %}
    <a href="{{ path('data_list') }}">Назад</a>
    {{ form(form) }}
{% endblock %}
