.avatar {
    max-height: 256px; /* Максимальный размер отображающегося аватара */ 
    max-width: 100%; /* Чтобы изображение не растягивалось */
}

#buttonScrollToTop {
    display: none; /* По умолчанию скрыта */
    position: fixed; /* Фиксированная позиция на экране */
    top: 20px; /* Отступ сверху */
    left: 20px; /* Отступ слева */
    z-index: 99; /* Отображение поверх всех элементов */
}