/* Изображение аватара */
.avatar {
    max-height: 256px;  /* Максимальный размер отображающегося аватара */ 
    max-width: 100%;    /* Чтобы изображение не растягивалось */
}

/* Кнопка для прокрутки наверх страницы*/
#button_scroll_to_top {
    display: none;      /* По умолчанию скрыта */
    position: fixed;    /* Фиксированная позиция на экране */
    top: 20px;
    left: 20px;
    z-index: 99;        /* Отображение поверх всех элементов */
}

/* Блок с полосой прокрутки - используется для списков городов и вакансий в форме фильтрации */
.scrollable {
    height: 150px;
    overflow-y: scroll;
}

/* Выравнивание элемента списка городов и элемента списка вакансий по левому краю (по другому не вышло) */
.list_element {
    text-align: left;
}